.logoImg {
    width: 20%;
    height: fit-content;
}

.bg-red {
    background-color: #2b4e71;
}
.page_block {
    background-position-x: fixed;
    overflow-x: hidden;
}
.txtstyle {
    color: #83a2c1;
    text-decoration: none;
}
.txtstyle:hover{
    color: #fff;
    text-decoration: none;
}
.carouselImage {
    height: 500px;
}
.aligncenter{
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center !important;
}
